
<div class="content p-3">
    <h2 class="mb-3">Dashboard</h2>
    <div class="row">
        <div class="col-12 d-flex justify-content-center gap-3">
            <div class="cards-ventas">
                <div class="card-ventas-desc d-flex justify-content-between align-items-start">
                    <div class="card-ventas-data d-flex flex-column ">
                        <span class="card-ventas-title">Ventas realizadas</span>
                        <span class="card-ventas-moneda">452.15</span>
                    </div>
                    <img src="/assets/imgs/dolar.svg" alt="">
                </div>
                <span class="card-ventas-porcentaje"><img src="/assets/imgs/arrowTop.svg" alt="">3.48</span>
                <span style="margin-left: 16px;">Ventas al Mes</span>
            </div>

            <div class="cards-ingresos">
                <div class="card-ventas-desc d-flex justify-content-between align-items-start">
                    <div class="card-ventas-data d-flex flex-column ">
                        <span class="card-ventas-title">Ingresos</span>
                        <span class="card-ventas-moneda">452.15</span>
                    </div>
                    <img src="/assets/imgs/dolar.svg" alt="">
                </div>
                <span class="card-ventas-porcentaje"><img src="/assets/imgs/arrowTop.svg" alt="">3.48</span>
                <span style="margin-left: 16px;">Ingresos al Mes</span>
            </div>
            <div class="cards-gastos">
                <div class="card-ventas-desc d-flex justify-content-between align-items-start">
                    <div class="card-ventas-data d-flex flex-column ">
                        <span class="card-ventas-title">Gastos</span>
                        <span class="card-ventas-moneda">452.15</span>
                    </div>
                    <img src="/assets/imgs/dolar.svg" alt="">
                </div>
                <span class="card-ventas-porcentaje"><img src="/assets/imgs/arrowTop.svg" alt="">3.48</span>
                <span style="margin-left: 16px;">Gastos al Mes</span>
            </div>
        </div>
        <div class="mt-5">
            <h3>Ventas Recientes</h3>
        </div>
        <div class="col-12">

        </div>
    </div>
</div>

