
<app-cabecera></app-cabecera>

<div *ngIf="isLoading;else principal" class="d-flex justify-content-center align-items-center content">
    <div class="spinner-border text-secondary ms-2" role="status">

    </div>
</div>

<ng-template #principal>
    <div class="container content-principal">
        
        <!-- <div class="card rounded" style="width: 40%;">
            <div class="card-body text-center py-5 img-container" style="cursor: pointer;">
                <img class="img-reporte" src="/assets/imgs/health-check.png" width="130px" alt="">
            </div>
        </div> -->
        <div class="principal-fecha">
            <span class="rounded" >Fecha: {{fecha}}</span>  
        </div>
        <div class="principal-ventas rounded">
            <h1 class="alert alert-secondary text-center titulo"><strong>Minimarket Gonzales !! 🏪</strong> </h1>
        </div>

        <div class="principal-data d-flex justify-content-around pt-5 " style="position: static;" >
            <div class="card card1" style="background-color: #87AAAA; width: 40%;z-index: 0;border-radius: 150px;cursor: pointer;" [routerLink]="['/shop']"  >
                <div class="card-body text-center py-5 img-container">
                    <img class="img-venta" src="https://cdn-icons-png.flaticon.com/512/7640/7640514.png" width="100px" alt="">
                </div>
            </div>
            
                <div *ngIf="rol == 'ADMIN'" class="card card2" style="background-color: #87AAAA; width: 40%;z-index: 0;border-radius: 150px;cursor: pointer;" [routerLink]="['/procesos']">
                    <div class="card-body text-center py-5 img-container" >
                        <!-- <img class="img-ajustes" src="/assets/imgs/configblack.svg" width="80px" alt=""> -->
                        <img class="img-ajustes" src="https://cdn-icons-png.flaticon.com/512/3286/3286169.png" width="100px" alt="">
                    </div>
                </div>
            
        </div>
    </div>
</ng-template>

