.contenedor{
    background: rgb(175,182,177);
    background: linear-gradient(0deg, rgba(175,182,177,1) 0%, rgba(255,254,250,1) 100%);
}

.login-container{
    height: 100vh;
}

.img-container{
    width: 100%;
    /* background-color: lightcoral; */
    height: 100vh;
}

.login-container{
    padding: 16px 24px;
    max-width: 450px;
    margin: 0 auto;
}

.login-container h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    
}

.input-usu{
    margin-bottom: 1.5rem;
}

label{
    color:#333;
    text-transform: uppercase;
    font-weight: bold;
}

input{
    width: 100%;

    /* border-bottom: 1px solid #00000067; */
    /* font-size: 1.2rem;
    padding: 5px 8px; */

    /* width: 90%; */
 background-color: #f3f3f4;
 border: none;
 padding: 10px 20px;
 border-radius: 10px;
 outline: none;
 font-size: 14pt;
 transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;

}

.boton-container{
    text-align: center;
}

.button{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    padding: 10px 34px;
    background-color: #333;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.button:active{
    transform: scale(0.98);
}

span{
    font-size: 0.8rem;
}

.img-logo{
    margin-top: 16px;
    transition: 0.6s all;
}

.img-logo:hover{
    transform: rotate(180deg);
}