
<header>
    <nav class="navegador">
        <div class="menu-logo">
            <img width="40px" class="burguer" id="burguer" src="/assets/imgs/menu-burger (2).svg" alt="">
            <img src="/assets/imgs/Logo.svg" id="burguer" class="logo" alt="">
            <!-- <div class="burguer-items" id="burguer-items">
                <div class="option1">
                    <a href="#"><img src=""  alt=""> Text</a>
                </div>
                <div class="option2">
                    <a href="#"><img src="" alt=""> Text</a>
                </div>
                <div class="option3">
                    <a href="#"><img src="" alt=""> Text</a>
                </div>
                <div class="option4"> 
                    <a href="#"><img src="" alt=""> Text</a>
                </div>
            </div> -->
        </div>
        <div class="menu-buscador">
            <label for="busqueda"><img width="35px" src="/assets/imgs/search.svg" alt=""><input id="busqueda" type="text" placeholder="Busqueda Avanzada"></label>
        </div>
        <div class="menu-perfil">
            <span>Administrador</span>
            <div class="perfil-imagen">
                <img id="user-img" src="/assets/imgs/user-img.png" (click)="togleMenu()" alt="">
            </div>
            <div class="items oculto" #useroption id="user-option">
                <a href="#">Mi perfil</a>
                <a routerLink="">Cerrar Sesion</a>
            </div>
        </div>
    </nav>
</header>