.add-categoria{
    position: fixed;
    right: 0;
    width: 450px;
    display: none;
    top: 0;
    height: 100%;
    background-color: white;
}

.mostrar{
    display: block;
}

.cuadro{
    display: flex;
    width: 33.3%;
    flex-wrap: wrap;

}