
<app-cabecera></app-cabecera>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4" >
                <div class="row">
                    <div class="col-4">
                        <div class="card mouse">
                            <div class="card-body" [routerLink]="['dashboard']">
                                <img class="proceso-img" src="/assets/imgs/dashboard.svg" alt="">
                                <span class="proceso-title">Dashboard</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-4">
                        <div class="card mouse">
                            <div class="card-body" [routerLink]="['administracion']">
                                <img class="proceso-img" src="/assets/imgs/group.svg" alt="">
                                <span class="proceso-title">Administracion</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-4">
                        <div class="card mouse">
                            <div class="card-body" [routerLink]="['reporte']">
                                <img class="proceso-img" src="/assets/imgs/reportes.svg" alt="">
                                <span class="proceso-title">Reportes</span>
                            </div>
                        </div>
                    </div>
                    
            
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-12">
    <router-outlet></router-outlet>
</div>
